<div class="logo">
  <img
    src="https://res.cloudinary.com/doh6rpdke/image/upload/v1648062082/9dc699_96265000acd248248fb231b0497ce36a_mv2_d_2480_2205_s_2_rb8myq.webp"
  />
</div>

<app-nav-bar></app-nav-bar>
<div class="app-title">
  <h1>DEJADNOS LLORAR</h1>
</div>

<main>
  <img
    src="../assets/images/9dc699_60832a9fc12c4f3eaed5ac0db9b2a8f8_mv2_d_2835_1437_s_2.webp"
    alt="familia de victimas con una foto."
  />
</main>

<footer class="footer">
  Made with
  <a href="https://netlify.com"
    ><img
      src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg"
      alt="Netlify Logo"
  /></a>
  for you!
</footer>
